<?xml version="1.0" encoding="utf-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" 
	xmlns:android="http://schemas.android.com/apk/res/android" 
	id="cordova-plugin-login" 
	version="1.0.0">
  <name>Login</name>
  <js-module name="login" src="www/login.js">
    <clobbers target="login"/>
  </js-module>

  <!-- android -->
  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="Login">
        <param name="android-package" value="org.apache.cordova.login.Login"/>
      </feature>
    </config-file>
    <source-file src="src/android/Login.java" target-dir="src/org/apache/cordova/login"/>
  </platform>

  <!-- ios -->
  <platform name="ios">
    <config-file parent="/*" target="config.xml">
      <feature name="Login">
        <param name="ios-package" value="CDVLogin"/>
      </feature>
    </config-file>

    <source-file src="src/ios/CDVLogin.h"/>
    <source-file src="src/ios/CDVLogin.m"/>

  </platform>
</plugin>